header {
  background-image: linear-gradient(to bottom, lightblue, transparent);
}

footer {
  background-image: linear-gradient(to top, lightblue, transparent);
}

/*DESKTOP*/
@media (min-width: 1024px) {
  .gridIndex {
    display: grid;
    grid-template-areas: "header main footer";
    grid-template-columns: 100%;
    grid-template-rows: "auto auto auto";
  }
  header {
    grid-area: header;
  }
  main {
    grid-area: main;
  }
  footer {
    grid-area: footer;
  }
  .gridMainIndex {
    display: grid;
    grid-template-areas: "img0 img0 img0" "titulo titulo titulo" "txt1 imgT txt2";
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto);
  }
  .img0 {
    grid-area: img0;
  }
  .titulo {
    grid-area: titulo;
  }
  .txt1 {
    grid-area: txt1;
  }
  .imgT {
    grid-area: imgT;
  }
  .txt2 {
    grid-area: txt2;
  }
  .titulo {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: lightgray;
    margin-top: 10px;
    font-family: bahnschrift;
  }
  p {
    padding: 10px;
  }
  .logorrss {
    padding: 20px;
  }
  /*Proyectos*/
  .gridMainProyectos {
    display: grid;
    grid-template-areas: "tituloproy tituloproy tituloproy" "tit1 tit2 tit3" "proy1 proy2 proy3";
    grid-template-columns: 33% 34% 33%;
    grid-template-rows: repeat(3, auto);
  }
  .tituloproy {
    grid-area: tituloproy;
  }
  .tit1 {
    grid-area: tit1;
  }
  .tit2 {
    grid-area: tit2;
  }
  .tit3 {
    grid-area: tit3;
  }
  .proy1 {
    grid-area: proy1;
  }
  .proy2 {
    grid-area: proy2;
  }
  .proy3 {
    grid-area: proy3;
  }
  .tituloproy {
    text-align: center;
    background-color: lightgrey;
    margin-top: 10px;
    padding: 5px;
    font-family: bahnschrift;
  }
  .proy {
    background-color: lightblue;
    margin: 5px;
    border-radius: 20px;
  }
  h2 {
    padding: 10px;
  }
  /*Nosotros*/
  .gridMainNosotros {
    display: grid;
    grid-template-areas: "tituloNos tituloNos tituloNos" "tit1 tit2 tit3" "arq1 arq2 arq3";
    grid-template-columns: 33% 34% 33%;
    grid-template-rows: repeat(3, auto);
  }
  .tituloNos {
    grid-area: tituloNos;
  }
  .tit1 {
    grid-area: tit1;
  }
  .tit2 {
    grid-area: tit2;
  }
  .tit3 {
    grid-area: tit3;
  }
  .arq1 {
    grid-area: arq1;
  }
  .arq2 {
    grid-area: arq2;
  }
  .arq3 {
    grid-area: arq3;
  }
  .tituloNos {
    text-align: center;
    font-family: bahnschrift;
    background-color: lightgray;
    padding: 10px;
  }
  /*Contacto*/
  .gridMainContacto {
    display: grid;
    grid-template-areas: "tituloCon tituloCon" "tit1 tit2" "lista mapa";
    grid-template-columns: 50% 50%;
    grid-template-rows: repeat(2, auto);
  }
  .tituloCon {
    grid-area: tituloCon;
  }
  .tit1 {
    grid-area: tit1;
  }
  .tit2 {
    grid-area: tit2;
  }
  .lista {
    grid-area: lista;
  }
  .mapa {
    grid-area: mapa;
  }
  .tituloCon {
    text-align: center;
    background-color: lightblue;
    margin-top: 10px;
    font-family: bahnschrift;
  }
  .lista {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    background-color: lightgray;
    margin: 20px;
    padding: 20px;
  }
  button {
    float: right;
    padding: 8px 12px;
    margin: 8px 0 0;
    font-family: "Montserrat", sans-serif;
    border: 2px solid #78788c;
    background: 0;
    color: #5a5a6e;
    cursor: pointer;
    transition: all 0.3s;
  }
  button:hover {
    background: #78788c;
    color: #fff;
  }
  .mapa {
    margin: 20px;
  }
}
/*Mobile*/
@media (max-width: 768px) {
  header, footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  header a, footer a {
    color: black;
    font-size: 22px;
    padding: 5px;
    margin: 5px;
  }
  .main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .main ul {
    display: flex;
    padding: 0%;
  }
  .main ul a {
    color: black;
    font-size: 22px;
    padding: 5px;
    margin: 5px;
  }
  .main ul a p {
    padding: 10px;
  }
  .main ul a p h1 {
    background-color: lightblue;
    align-items: center;
    padding: 10px;
  }
}
.tituloproy, .tituloNos, .tituloCon {
  text-align: center;
  background-color: lightblue;
  margin-top: 10px;
  padding: 10px;
  font-family: bahnschrift;
}

h2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mapa {
  overflow: hidden;
}

li {
  list-style-type: none;
  padding: 10px;
  margin: 10px;
}

.encabezado {
  background-image: lightblue;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

a {
  text-decoration: none;
  font-size: 20px;
  font-family: bahnschrift;
}
aa:hover {
  background: #78788c;
  color: #fff;
  cursor: pointer;
  transition: all 0.3s;
}

ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

h3 {
  padding: 10px;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-size: 20px;
  font-family: bahnschrift;
}

@media (max-width: 768px) {
  footer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.img-fluida {
  width: 100%;
  height: auto;
  border-radius: 15px;
}

.imgT {
  border-radius: 15px;
  margin: 15px;
}

.logo {
  border-radius: 15px;
  margin: 15px;
}

/*# sourceMappingURL=style.css.map */
